@charset "utf-8";

*{ margin:0px; padding:0px;box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box;-webkit-overflow-scrolling: touch; /* Safari */}
a{ text-decoration:none;color: #968687;}
ul,ul li{ list-style:none;}
html,body{font-size: 0.26rem;font-family:"microsoft yahei";background: #f2f4f3;}

/*样式重置*/
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0; vertical-align: top}
li{list-style:none}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
button,input[type="submit"]{border:none;background:none;appearance:none;outline:none}
input,textarea  {border:none;background:none;appearance:none;outline:none}
a{touch-callout:none;text-decoration:none;}
em, i{font-style:normal}
textarea {resize:none}
button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner{
    border: 0;
    padding: 0;
}
input:focus, textarea:focus{ border: 0;
   padding: 0;
}
#bH{
width:3.75rem;
height:1rem;
}

.submitBtn{
width:5.43rem;
height:0.8rem;
margin:0 auto;
margin-top:0.5rem;

}

.submitBtn a{
display:block;
width:100%;
height:100%;
background:#56216f;
text-align:center;
line-height:0.8rem;
color:white;
font-size:0.3rem;
border-radius:0.5rem;
box-shadow:0 0.1rem 0.1rem #ccbcd3; /*底边阴影*/
border:none;
}
.submitBtn a:hover{
background:#56216f;
}
.black_loading,.dw_loading{
    width: 3.75rem;
    background: url(../images/mt0.png);
    position: fixed;
    bottom: 0;
    top:0;
    display: none;
    z-index: 99999;

}
.black_loading .ldbg,.dw_loading .ldbg{
    width: 3rem;
    background: url(../images/block80.png);
    position: fixed;
    left: 0.35rem;
    top:50%;
    height:0.6rem;
    border-radius:10px;
    -webkit-transform: translateY(-50%);
}
.black_loading .ldbg img,.dw_loading .ldbg img{
    width:0.25rem;
    height:0.25rem;
    margin-left:0.15rem;
    margin-top:0.15rem;
    float:left;
}
.black_loading .ldbg p,.dw_loading .ldbg p{
    font-size:0.12rem;
    color:white;
    float:left;
    line-height:0.6rem;
    height:0.6rem;
    margin-left:0.22rem;
}
#cartNumber{
width:0.32rem;
height:0.32rem;
background:#6d2a8c;
color:white;
text-align:center;
font-size:0.2rem;
position:absolute;
right:0.3rem;
top:0;
border-radius:50%;
line-height:0.32rem;
border:1px solid white;
background-clip: padding-box;
display:none;
}
#alertMC{
position:fixed;
z-index:20000;
font-size:0.16rem;
background:url(../images/block80.png);
border-radius:0.06rem;
height:0.45rem;
line-height:0.45rem;
color:white;
padding-left:0.25rem;
padding-right:0.25rem;
left:50%;
top:50%;
-webkit-transform:translate(-50%,-50%);
max-width:3.75rem;
text-align:center;
white-space: nowrap;
}
/*头部*/
.header{width: 3.75rem;height: 0.4rem;}
.header-mobile{
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 0.4rem;
    padding-top: 0.06rem;
    padding-bottom: 0.06rem;
    line-height: 0.26rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    display: flex;
    font-size: 0.18rem;
    background: #00b38a;color: #ffffff;font-size: 0.18rem;
}

.header-mobile {}
.header-mobile .img-home {width: 0.12rem;margin-top: 0.04rem;}


.header-mobile .cell{height: 0.28rem;vertical-align: top;text-align: center;line-height: 0.28rem}

.header-mobile .link-home{ width: 0.5rem;}
.header-mobile .group-search{width: 2.75rem}
.header-mobile .link-btn{width: 0.5rem}
.header-mobile .input-search{
    vertical-align: top;padding: 5px 8px 5px 0.3rem;
    width: 100%;height: 0.28rem;line-height: 0.28rem;
    background: url(../images/search-md.png) no-repeat center left 0.06rem;
    font-size: 0.14rem;
    background-size: 0.16rem;
    border-radius: 0.14rem;
    border: 1px solid #FFF;
    color: #1fc8a1;

}
.header-mobile .img-btn{width: 0.18rem;margin:auto 0.18rem;vertical-align: middle}

#Myscroll-body {
    position: absolute;
    top: 0.4rem;
    bottom: 0.4rem;
    width: 100%;
    background: #efeff4;
}
.main {
    margin-bottom: 0.45rem;
}


.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: white; */
    box-shadow: 0 -1px 5px rgba(0,0,0,0.3);
    padding: 0 0.1rem;
    z-index: 10;
    height: 0.45rem;
    background: #1fc8a1;
}
.navbar a {
    width: 100%;
    float: left;
    display: block;
    height: 0.45rem;
    font-size: 0.16rem;
    line-height: 0.45rem;
    color: #fff;
    text-align: center;
}
.navbar a img {
    width: 0.2rem;
    height: 0.2rem;
    vertical-align: middle;
    margin-bottom: 0.04rem;
    margin-right: 0.03rem;
}
#masking{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/block50.png");
    z-index: 1002;
    display: none;
}
