
#Myscroll-body{background: #f2f4f3}
#Myscroll-body section{margin: 0.1rem 0;padding-left: 4%;;background: #FFF}
#Myscroll-body section .middle_content{color: #777;width: 100%;overflow: hidden;padding: 0 4% 0 0;;height: 0.45rem;line-height: 0.45rem;border-bottom: 1px solid #ddd}
#Myscroll-body section .middle_content:last-child{border: 0}
#Myscroll-body section .middle_content label{display: inline-block;width: 30%;text-align: left;font-size: 0.12rem;float: left;height: 0.45rem;}
#Myscroll-body section .middle_content .fl{display: inline-block;color: #888;float: right;width: 70%;height: 0.45rem;font-size: 0.14rem;text-align: right;padding: 0 0.1rem;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
#Myscroll-body section .middle_content .also{background: url("../images/right.png") no-repeat center right;padding-right: 0.1rem;background-size: 0.08rem}
#Myscroll-body section .middle_content .fl .upload{width: 0.3rem;height: 0.3rem;border-radius: 50%;margin-top: 0.075rem}

.topInnerNav{background-color: #fff;width: 100%;height: 0.45rem;line-height: 0.45rem;color: #333;font-size: 0.16rem;position: relative;display: flex;justify-content: space-between;align-content: center;}
.topInnerNav a{display: block;width: 0.45rem;height: 0.45rem;line-height: 0.5rem;text-align: center;color: #03b28b;}
.topInnerNav a .fj{font-size: 0.12rem;color: #03b28b;}
.topInnerNav a:first-child{position: relative;transform: rotate(-90deg);}

.alert-content{
    position: fixed;
    width: 100%;
    height:1.6rem;
    background: #fff;
    z-index: 1003;
    bottom: -1.8rem;
    box-shadow: 0 0 0.2rem #333;
}
.alert-content header{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
    border-bottom: 1px solid #dddddd;
    font-size:0.16rem;
    color: #353535;
    text-align: center;
    font-weight: normal;
}
.alert-content ul{width: 80%;margin: 0 auto;}
.alert-content ul li{position: relative;line-height: 0.4rem;text-align: center;font-size: 0.14rem;border-bottom: 1px solid #ddd}
.alert-content ul li i{
    display: none;
    width: 0.16rem;
    height: 0.08rem;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    border: 1px solid #E65749;
    border-width: 0px 0px 1px 1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.alert-content ul li.selected i{display: block}
.alert-content ul li.selected{color: orangered}


#Myscroll-body .infobtn{
    display: block;
    width: 80%;
    heigth: 0.4rem;
    background: #00b38a;
    border-radius: 0.05rem;
    text-align: center;
    font-size: 0.16rem;
    line-height: 0.4rem;
    margin: 8% auto;
    color: #fff;
    box-shadow: 0 0.01rem 0.01rem #ccbcd3;
}

#main_con{
	position: fixed;
    width: 90%;
    height: 3.1rem;
    background: #fff;
    bottom:0;
    z-index:1003;
    box-shadow: 0 0 0.2rem #333;
    left:5%;
    top:50%;
    margin-top:-1.55rem;
    border-radius:0.1rem;
    font-size:0.14rem;
    display:none;
}
#main_con .masg{padding:0 0.15rem;}
#main_con header{
	width: 100%;
    line-height: 0.45rem;
    padding: 0;
    border-bottom: 1px solid #dddddd;
    font-size: 0.18rem;
    color: #353535;
    text-align: center;
    font-weight: normal;
}
#main_con header i{color:red}
#main_con ul{width:100%;padding:0.15rem;margin:0 auto;}
#main_con ul li{
	position: relative;
    line-height: 0.4rem;
    font-size: 0.14rem;
    border-bottom: 1px solid #ddd;
    color:#353535;
}
#main_con ul li laber,#main_con ul li input{
	display: inline-block;    
}
#main_con ul li laber{

}
#main_con ul li input{
	padding:0 0.15rem;
	width:1.5rem;
}
#main_con ul li span{
	color:#b9a05d;
	cursor: pointer;
	border-left:1px solid;
	padding:0 0.12rem;
}
.account-login-width{
	width: 100%;
    height: 0.45rem;
    padding: 0 0.15rem;
    text-align: center;
    margin: 0.2rem 0;
}
.account-login-width a{
	color: #3e4745;
    text-align: center;
    display: inline-block;
	padding:0.05rem 0.3rem;
    border: 1px solid #343a39;
    border-radius: 0.05rem;
    font-size: 0.16rem;
    float:left;
}
#black_houme{float:right;}
