#containerArea{width: 100%;overflow-y: auto;font-size: 0.12rem;}
.indexTopCon{width: 100%;height:auto;}
.slideBox{width: 100%;height: 1.9rem;position: relative;background: url(../images/indexTopbg.png) no-repeat;background-size:100% 100%;}
.topContainerNav{width: 100%;height: 0.75rem;position: relative;margin-top: -0.13rem;background: url(../images/round.png) no-repeat;background-size:100% 100%;}
.slideBox .topInnerNav{width: 100%;height: 0.45rem;position: relative;}
.slideBox .topInnerNav a{    float: right;;display: block;width: 0.45rem;height: 0.45rem;line-height: 0.5rem;text-align: center;color: #FFFFFF;font-size: 0.2rem;}
.topInnerlogo{text-align: center;color: #FFFFFF;font-size: 0.24rem;margin-top: 0.23rem;font-style: normal;}
.topInnerlogo p:first-child+p{padding-top: 0.16rem;font-size: 0.16rem;}
.topContainerNav .innerCon{top: 0.2rem;position: relative;width: 3.55rem;margin: 0 auto;height: 0.45rem;font-size: 0.12rem;}
.topContainerNav .innerCon ul li{width: 25%;float: left;height: 0.71rem;text-align: center;color: #828282;}
.topContainerNav .innerCon ul li a{display: block;color: #888;}
.topContainerNav .innerCon ul li span{text-align: center;line-height: 0.4rem;font-size: 0.24rem;color: #fff;display: block;height: 0.4rem;width: 0.4rem;background: #00b38b;margin: 0 auto;border-radius: 50%;}
.topContainerNav .innerCon ul li p{margin-top: 0.12rem;}
.topInnerNav .myimg img{width: 0.3rem;height: 0.3rem;border-radius: 50%;position: absolute;right: 0.075rem;top: 0.075rem;}

.search-form-box{width:3rem;height:0.45rem;line-height:0.45rem;margin:0 auto;border-bottom:1px solid #ddd}
.search-form-box:last-child{border:0;}
.search-form-box input{
    height: 0.3rem;
    padding: 0 0.1rem;
    width: 2.6rem;
}
.subparent{
    width: 0.65rem;
    height: 0.36rem;
    line-height: 0.36rem;
    margin: 0 auto;
    text-align: center;
    background: #03b28b;
    margin-top: -0.41rem;
    cursor: pointer;
    color: #fff;
    font-size: 0.14rem;
    border-radius: 0.05rem;
    -webkit-border-radius: 0.05rem;
    /* float: left; */
    position: relative;
    margin-right: 0.25rem;
}
.search-form-box span{font-size:0.14rem}

.indexCenterCon{position: relative;width: 3.55rem;height: 1.8rem;background: #fff;margin: 0.1rem auto;font-size: 0.12rem;}

.indexhouseList{position: relative;width: 3.55rem;height: auto;background: #fff;margin: 0.1rem auto;}

.swiper-container { width: 100%; height: 1.35rem;margin: 0 auto; }
.swiper-container .swiper-slide{ width: 3.55rem; height: 1.35rem; }
.swiper-container .swiper-slide img{width: 100%;height: 1.35rem; }
.swiper-slide a{display: block;position: relative;height: 1.35rem}        
.swiper-slide a h2{position: absolute;left: 50%;margin-left: -0.5rem;width: 1rem;text-align: center;height: 0.6rem;top: 50%;margin-top: -0.3rem;color: #fff;font-size: 0.24rem;line-height: 0.6rem;background: rgba(0,0,0,.3);border:1px solid #fff;border-radius:0.1rem;}   


.lifeList{
	position: relative;
    width: 3.55rem;
    height: auto;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0 0 8px #ccc;
    margin-bottom:0.1rem;
}
/*swiper-container-life */
.swiper-container-life .swiper-wrapper a{
	margin-bottom: 0.2rem;
	height:3.2rem;
	display: block;
	position: relative;
	cursor: pointer;
	color: #999999;
}
.service-image a img{width: 100%;display: block;height:2.4rem;}
.service-image a .mask{
    position: absolute;
    bottom: 0.8rem;
    display: block;
    width: 3.55rem;
    height: 0.4rem;
    background: rgba(0,0,0,.4);
    color: #fff;
    font-size: 0.12rem;
    padding-left: 0.1rem;
    line-height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.service-image a .content-mob{
    width: 3.55rem;
    height: 0.8rem;
    background: #fff;
    font-size: 0.12rem;
    padding: 0.1rem;
    line-height: 0.2rem;
}
.service-image a .content-mob p{
    width: 80%;
    float: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow:hidden;
}
.service-image a .content-mob img{
    width: 0.6rem;
    height: 0.6rem;
    float: right;
}
.swiper-container-life{ width: 3.55rem; height: 3.2rem;overflow: hidden; }
.swiper-container-life .swiper-slide{ width: 3.55rem; height: 3.2rem; }





.fn-title{line-height: 0.45rem;height: 0.45rem;color: #262626;padding-left:0.1rem;}
.fn-title .fl,.fn-title .fr{display: block;float: left;}   
.fn-title .fr{float: right;width: 0.35rem;line-height: 0.45rem;text-align: center;}
.hatHouse{width: 100%;clear: both;background: #fff;max-height: 16.2rem;overflow: hidden;}
.hatHouse ul li{height: 2.7rem;border-bottom: 1px solid #e7e7e7;padding: 0.1rem auto;}
.hatHouse ul li a{display: block;position: relative;overflow: hidden;width: 100%;height: 100%;color: #262626;}
.hatHouse ul li a .fn-img{width: 100%;height: 2.05rem;overflow: hidden;position: relative;}
.hatHouse ul li a .fn-img img{width: 100%;}
.hatHouse ul li a .fn-img .price{display: block;position: absolute;width: 0.66rem;height: 0.35rem;line-height: 0.35rem;text-align: center;background: rgba(0,0,0,.65); color: #fff;left: 0;bottom: 0;font-size: 0.15rem;}

.hatHouse ul li a .fn-txt{padding: 0.1rem;line-height: 0.24rem;overflow: hidden;}
.hatHouse ul li a .fn-txt .hu-c{color: #888;}
.hatHouse ul li a .fn-txt span{padding-left: 0.15rem;}
.hatHouse ul li a .fn-txt p{
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     word-break: break-all;
     overflow:hidden;	
}
.wxewm{
	position: relative;
    width: 3.55rem;
    height: auto;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    border-bottom: 1px solid #e7e7e7;
 
    
}
.wxewm img{width: 45%;float:right;display: block;padding-bottom: 0.2rem;}


