html,body{background: #fff}
#Myscroll-body{background: #FFF;font-size: 0.14rem;line-height: 0.25rem}
#Myscroll-body .my-title{font-size: 0.3rem;text-align: center;padding: 0.3rem 0.2rem 0.1rem 0.2rem;color: #333}
#Myscroll-body .f12{font-size: 0.12rem;color: #666;padding-bottom: 0.2rem}
#Myscroll-body .f12 i{color: #000000}
#Myscroll-body .ptxt{text-indent: 0.25rem;margin-bottom: 0.3rem}
#Myscroll-body .ptxt img{width: 100%;padding: 0.1rem 0}
#Myscroll-body p{padding: 0 0.2rem}

/*my-footer*/
.my-footer{vertical-align: middle;width: 100%;text-align: center;padding-bottom: 0.2rem;padding-top: 0.15rem;background:#00b38a;border-top: 1px solid #e3e3e3;font-size: 0.14rem;color: #3de6bf}
.my-footer img{width: 0.2rem;margin-right: 0.1rem;    vertical-align: text-bottom;}