#zanwus{display:none;font-size: 0.16rem;padding:0 0.2rem;color: #ccc;}
.header{
    width: 100%;
    height: 0.4rem;
    background: #fff;
    font-size: 0.16rem;
    line-height: 0.4rem;
    color: #1d1d1d;
}
#Myscroll-body{
  /* top: 0.85rem;*/  
    bottom: 0;
    background: #f2f4f3;
    overflow-y: scroll;
}
.header-mobile .cell span{color: #2c2c2c}
.header-mobile{
    color: #333;
    background: #fff;
    border-bottom:1px solid #eee;
}
#nav{
	height: 0.45rem;
    width: 100%;
    position: fixed;
    top: 0.4rem;
    border-bottom: 1px solid #d1d1d1;
    font-size: 0.14rem;
    overflow: hidden;
    background: #fff;
    z-index: 88;
    max-width: 640px;
    margin: 0 auto;
    line-height: 0.45rem;
    color: #282828;
    padding: 0 0.2rem;
}
#nav input{
	height: 0.45rem;
    text-align: center;
   
}
#Myscroll-body .orderlist{width: 100%;height: auto;overflow-x: hidden;margin-top:0.1rem;}
#Myscroll-body .orderlist li {
    margin-bottom: 0.1rem;
    background: #FFF;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 0 0.2rem;
}
.p_title{
	line-height: 0.45rem;
    font-size: 0.14rem;
    border-bottom: 1px solid #d3d3d3;
}
.pay_content {
    line-height: 0.25rem;
    padding: 0.15rem 0;
    font-size: 0.14rem;
  /*  border-bottom: 1px solid #d3d3d3;*/
}
.pay_content .list_bigsize {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.16rem;
}
.pay_content .p_list span {
    float: right;
}
.pay_content .p_list span i{
    color:red;
}