/*.header-mobile {background: #50ccc9;color: #ffffff;font-size: 0.18rem;}*/
.header-mobile .img-home {width: 0.12rem;margin-top: 0.04rem;}

/*优惠劵*/
.order_info .roompPic a{float:right;color:orangered;font-weight: 400;font-size: 0.12rem;padding-right: 0.1rem;}
    





.order_info{width: 100%;background: #fff;margin: 0.1rem 0 0 0;overflow: hidden}
.order_info h1{border-bottom: 1px solid #ddd}
.order_info .r_name{font-size: 0.14rem;font-weight: bold;padding: 0.1rem;;vertical-align: middle;}
.order_info .h_date{width: 100%;overflow: hidden}
.order_info .h_date li{padding-left: 0.1rem;float: left;border-left:1px solid #ddd ;width: 25%;height: 0.4rem;line-height: 0.4rem;font-size: 0.14rem;border-bottom: 1px solid #ddd;}
.order_info .h_date li:first-child{border-left: 0}
.order_info .h_date li .doubledate{width: 100%;color: orange}
.order_info .h_date li:nth-child(even){border-left: 0;padding-left: 0}
.order_info .o_pay{height: 0.4rem;line-height: 0.4rem;font-size: 0.14rem;text-align: left;padding-left: 0.1rem}
.order_info .o_pay .money{font-size: 0.18rem;color:orangered}
.order_info .roomTime .date{float: right}


.price_info{width: 100%;background: #fff;margin: 0.1rem 0 0 0;overflow: hidden;border-top: 1px solid #ddd}
.price_info li{padding: 0 0.1rem;height: 0.4rem;line-height: 0.4rem;border-bottom:1px solid #ddd;font-size: 0.14rem;}
.price_info li span{width: 0.8rem;color: #333;display: inline-block;float: left}
.price_info li .fl{padding: 0 0.1rem;overflow: hidden;border-left: 1px solid #ddd}

.prompt_info{width: 100%;background: #fff;margin: 0.1rem 0 0 0;overflow: hidden;padding: 0 0.1rem;border-top: 1px solid #ddd;font-size: 0.14rem;}
.prompt_info h1{font-size: 0.14rem;line-height: 0.4rem}
.prompt_info p{margin-bottom: 0.1rem}

/*��ӵ���������Ϣ*/
.addpartenr li{width: 50%;float: left;background: #938f88;border-right: 1px solid  #FFF;color:#FFF;text-align: center;position: relative}
.addpartenr li i{width: 0.3rem;position: absolute;right: 0;height: 100%;background: #bab4b4}



/*����Ʊ*/
#needpic{border-left:0 }
#needpic i{margin-left: 0.1rem;width: 0.6rem;float: left;padding-left: 0.25rem;background: url("../images/moren.png") no-repeat center left;background-size: 0.18rem}
#needpic .active{background: url("../images/moren_hover.png") no-repeat center left;background-size: 0.18rem}


/*���ס��*/
.alert-content,#usecoupon{
    position: fixed;
    width: 100%;
    height:5.5rem;
    background: #fff;
    z-index: 1003;
    bottom: -5.6rem;
    box-shadow: 0 0 0.2rem #333;
    overflow: scroll;
}
.alert-content header,#usecoupon header{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
    border-bottom: 1px solid #dddddd;
    font-size:0.16rem;
    color: #353535;
    text-align: center;
    font-weight: normal;
    position: relative;
}
.alert-content header ._black,#usecoupon header ._black{cursor: pointer;float: left;padding: 0 0.2rem;font-size: 0.3rem}
.alert-content header ._confirm,#usecoupon header ._confirm{float: right;padding: 0 0.2rem;color: orangered;cursor: pointer}

.alert-content ul{width: 90%;margin: 0 auto;}
.alert-content ul li{position: relative;line-height: 0.4rem;font-size: 0.14rem;border-bottom: 1px solid #ddd;text-indent: 0.25rem}
.alert-content ul li .this{
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    top: 0.15rem;
    left: 0.1rem;
    border: 1px solid #0cbb08;
    border-width: 1px;
}
.alert-content ul li.selected .this{background: #0cbb08}
.alert-content ul li.selected{}

.alert-content ul li .numbId{margin-left: 0.2rem}
.alert-content ul li ._remove{display: block;width: 0.6rem;height: 0.4rem;float: right;background: url("../images/deleteico.png") no-repeat center right 0.1rem;background-size:0.16rem }

/*����������*/
.alert-content ins.rotate{transform: rotate(90deg)}
.alert-content ins{transition: all .3s;width: 0.4rem;height: 0.4rem;position: absolute;bottom: 0.1rem;right: 0.1rem;background: url("../images/add.png")no-repeat center center;background-size: 0.4rem;border-radius: 50%;z-index: 100}
.alert-content .news-msg{position: absolute;bottom: -4.7rem;left: 0;width: 100%;height: 4.7rem;background:#fff;border-top: 4px solid orangered}
.alert-content .news-msg ul{width: 100%;}
.alert-content .news-msg ul li{font-size: 0.14rem;width: 100%;height: 0.45rem;line-height: 0.45rem;border-bottom: 1px solid #d1d1d1}
.alert-content .news-msg ul li input{display: block;width: 2.7rem;height: 0.45rem;font-size: 0.14rem;float: right}
.alert-content .news-msg button{display: block;width: 1.6rem;height: 0.35rem;background: orangered;margin: 0.2rem auto;color: #fff;font-size: 0.14rem}



/*优惠劵*/
#usecoupon ul{width:100%;padding:0.1rem 0.1rem 0 0.1rem;}
#usecoupon ul li{cursor: pointer;margin-bottom: 0.1rem;;width:100%;height:0.8rem;border:1px solid red;position:relative;border-radius: 0 0.2rem;overflow: hidden;}
#usecoupon ul li .usemsg{float:right;height:0.78rem;position: relative;;width:75%;font-size:0.1rem;padding-left:0.1rem}
#usecoupon ul li .usemsg h1{padding-bottom: 0.2rem;padding-top: 0.03rem;font-size: 0.14rem;}
#usecoupon ul li ._pic{display:block;width:25%;height:100%;float:left;background:red;text-align:center;font-size:0.2rem;line-height: 0.8rem;color:#fff}
#usecoupon ul li .usemsg .ifrader{position:absolute;width:0.2rem;height:0.2rem;border-radius:50%;border:1px solid #ccc;top:0.3rem;right:0.3rem;}
#usecoupon ul li .usemsg .ifrader.hat i{display:block}
#usecoupon ul li .usemsg .ifrader i{
	display:none;
	width: 0.3rem;
    height: 0.1rem;
    position: absolute;
    top:-0.05rem;
    border: 2px solid #18ca26;
    border-width: 0px 0px 2px 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}