html,body{background: #f2f4f3 !important;}
#containerArea{width: 100%;position: relative;overflow-y: auto;font-size: 0.12rem;}



.topInnerNav{background-color: #fff;width: 100%;height: 0.45rem;line-height: 0.45rem;color: #333;font-size: 0.16rem;position: relative;display: flex;justify-content: space-between;align-content: center;}
.topInnerNav a{display: block;width: 0.45rem;height: 0.45rem;line-height: 0.5rem;text-align: center;color: #03b28b;}
.topInnerNav a .fj{font-size: 0.12rem;color: #03b28b;}
.topInnerNav a:first-child{position: relative;transform: rotate(-90deg);}

.main{position: relative;}
.main .od{background-color: #fff;margin-top: 0.1rem;}
.main .od .r-pay{line-height: 0.4rem;padding: 0 0.1rem;border-bottom: 1px solid #ddd;}
.roomTime .date{float: right;}
.r-pay .money{color: red;}
.roomYJ .free{float: right;color: #333;cursor: pointer;}
.roomPic a{float: right;color: red;cursor: pointer;}
.roomYHJ{display: none;}

.price_info li{cursor: pointer;padding: 0 0.1rem;line-height: 0.4rem;border-bottom: 1px solid #ddd;background: #fff;}
.price_info li span{width: 0.8rem;display: inline-block;float: left;}
.price_info li .fl{padding: 0 0.1rem;overflow: hidden;border-left: 1px solid #ddd;}
#contract span{text-align: center;line-height: 0.4rem;cursor: pointer;color: #00B38A;}

.prompt_info{width: 100%;background-color: #fff;padding: 0.1rem;margin-top: 0.1rem;line-height: 0.2rem;border-top: 1px solid #ddd;overflow: hidden;}
.prompt_info h1{font-size: 0.12rem;line-height: 0.4rem;}


#bottomMenu{width: 100%;position: fixed;bottom: 0;left: 0;text-align: center;height: 0.45rem;line-height: 0.45rem;    border-top: 1px solid #dedede;;background:#03b28b;}
#bottomMenu a{cursor: pointer;display: block;text-align: center;line-height: 0.45rem;color: #fff;font-size: 0.16rem;}

.gratis{
	position: fixed;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 0.1rem;
    z-index: 2000;
    left: 50%;
    margin-left: -40%;
    top: 10%;
    transition: 0.2s;
    transform: scale(0);
}
.gratis.scale{
	transform: scale(1);  
}
.gratis h1{
    padding: 0.05rem;
    width: 100%;
    text-align: center;
    font-size: 0.15rem;
    line-height: 0.3rem;
    font-weight: 400;
    position: relative;
}
.gratis h1 span{
    float: right;
    position: absolute;
    top:0.13rem;
    right: 0.1rem;
}
.gratis .content{
	width: 85%;
    margin: 0 auto;
    overflow-y: scroll;
    height: 86%;
    font-size: 0.12rem;
    line-height: 0.25rem;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

#usecoupon{
	position: fixed;
    width: 100%;
    height:5.5rem;
    background: #fff;
    z-index: 1003;
    bottom: -5.6rem;
    box-shadow: 0 0 0.2rem #333;
    overflow: scroll;
    transition: all .5s;
}
#usecoupon header{
	width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
    border-bottom: 1px solid #dddddd;
    font-size:0.16rem;
    color: #353535;
    text-align: center;
    font-weight: normal;
    position: relative;
}
#usecoupon header ._black{
	cursor: pointer;
    float: left;
    padding: 0 0.2rem;
    font-size: 0.3rem;
}
#usecoupon header ._confirm{
 	float: right;
    padding: 0 0.2rem;
    color: orangered;
    cursor: pointer;
}
 
#usecoupon ul{width:100%;padding:0.1rem 0.1rem 0 0.1rem;}
#usecoupon ul li{cursor: pointer;margin-bottom: 0.1rem;;width:100%;height:0.8rem;border:1px solid red;position:relative;border-radius: 0 0.2rem;overflow: hidden;}
#usecoupon ul li .usemsg{float:right;height:0.78rem;position: relative;;width:75%;font-size:0.1rem;padding-left:0.1rem}
#usecoupon ul li .usemsg h1{padding-bottom: 0.2rem;padding-top: 0.03rem;font-size: 0.14rem;}
#usecoupon ul li ._pic{display:block;width:25%;height:100%;float:left;background:red;text-align:center;font-size:0.2rem;line-height: 0.8rem;color:#fff}
#usecoupon ul li .usemsg .ifrader{position:absolute;width:0.2rem;height:0.2rem;border-radius:50%;border:1px solid #ccc;top:0.3rem;right:0.3rem;}
#usecoupon ul li .usemsg .ifrader.hat i{display:block}
#usecoupon ul li .usemsg .ifrader i{
	display:none;
	width: 0.3rem;
    height: 0.1rem;
    position: absolute;
    top:-0.05rem;
    border: 2px solid #18ca26;
    border-width: 0px 0px 2px 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}