
.main{margin-bottom: 0.45rem}






.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: white;*/
    box-shadow: 0 -1px 5px rgba(0,0,0,0.3);
    padding: 0 0.1rem;
    z-index: 10;
    height: 0.45rem;
    background: #00b38a;
}
.navbar a:first-child{border: 0}
.navbar a{
    width: 100%;
    float: left;
    border-left: 1px solid #ffffff;
    display: block;
    height: 0.45rem;
    font-size: 0.16rem;
    line-height: 0.45rem;
    color: #fff;
    text-align: center;
}
.navbar a img{width: 0.2rem;height: 0.2rem;vertical-align: middle;margin-bottom: 0.04rem;margin-right: 0.03rem}

/*mokuai1*/
.panel{
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 0.1rem 0.15rem;
    position: relative;
    margin-bottom: 0.1rem;
}
.ic_house{
    height: 0.22rem;
    font-size: 0.16rem;
    color: #000000;
    border-left: 4px solid #ed494a;
    line-height: 0.2rem;
    padding-left: 0.1rem;
    margin: 0.12rem 0 0.1rem 0;
    overflow: hidden;
    text-shadow: 0 0 0.2px rgba(0,0,0,0.8);
}
.panel p{
    font-size: 0.14rem;
    margin: 3px 0;
    color: #666;
    /*line-height: 0.23rem;*/
}
.panel .info_L24{
    padding-left: 0.24rem;

}
.panel .info_L24,.ic_house{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.label-adders{
    background: url("../images/laber-adders.png") no-repeat center left 0.24rem;
    text-indent: 0.18rem;!important;
}
.label-price{
    font-size: 0.23rem;
    top: 0.17rem;
    position: absolute;
    right: 0.12rem;
    color: red;
}
.panel .label-type1{
    height: 0.18rem;
    line-height: 0.18rem;
    border-radius: 0.2rem;
    padding: 0 0.1rem;
    font-size: 0.1rem;
    margin: 0.1rem 0.08rem 0 0;
    display: inline-block;
    background-color: #ffeacc;
    color: #ff7200;
}
/*用户评论*/
.panel .appraise{width: 100%;height: auto}
.panel .appraise li{border-bottom: 1px solid #e6e6e6;padding: 0.06rem 0;;font-size: 0.14rem}
.panel .appraise li .appInfo span{display: inline-block;padding: 0 0.06rem;background: #999988;color: #fff;border-radius: 0.05rem}
.panel .appraise li .appInfo i{display: inline-block;color: #ea644a;padding: 0 0.03rem;border: 1px solid #ea644a;margin-left: 0.1rem}
/*---------------*/
.i_inf{width: 100%;height: auto;overflow: hidden}
.i_inf ul li{width: 50%;float: left;height: 0.3rem;line-height: 0.3rem;}
.i_inf ul li span{font-size: 0.14rem;color: #333;line-height: 0.3rem;display: block;float: left;}
.i_inf .inf_sp{color: #aaa;margin-right: 0.1rem;}

/*deploy 配置*/
.deploy ul li{width: 24%;text-align: center;border: 1px solid #50ccc9;margin-bottom: 0.03rem;margin-right: 0.03rem;border-radius:0.15rem}
.deploy ul li i{display: block;font-size: 0.14rem;color: #50ccc9;overflow: hidden}
/*房间描述*/
#serviceIntro2{line-height: 0.23rem}



/*选择起止日期*/
.alert-content{
    position: fixed;
    width: 100%;
    height:3.5rem;
    background: #fff;
    z-index: 1003;
    bottom: -3.7rem;
    box-shadow: 0 0 0.2rem #333;
}
.alert-content header{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
    border-bottom: 1px solid #dddddd;
    font-size:0.16rem;
    color: #353535;
    text-align: center;
    font-weight: normal;
}
.alert-content ul{width: 100%;margin: 0 auto;}
.alert-content ul li{width: 50%;float: left;font-size: 0.2rem;line-height: 0.45rem;border-right: 1px solid #e6e6e6;border-bottom: 1px solid #dddddd }
.alert-content ul li input{width: 100%;text-align: center;color: #333;font-weight: bold;}
.alert-content .hint{clear: both;font-size: 0.16rem;line-height: 0.6rem;padding: 0 0.1rem}
.alert-content .hint i{padding-right: 0.1rem;font-weight: bold;color: red}
.alert-content .but-success{width: 66%;height: 0.4rem;color: #FFF;border-radius: 0.2rem;box-shadow: 0 0.025rem 0.1rem #5f0d0d;position: absolute;bottom: 0.2rem;background: #ea644a;left: 50%;margin-left: -33%}