
.main{margin-bottom: 0.45rem;display: block;
    width: 100%;
    height: ahto;
    height: auto;}


.pop div:nth-child(4){
	 width:252px !important;
}
.pop div:nth-child(6){
	 height:25px !important;
}
.BMapLabel{
	background: orange !important;
    color: #000;
    padding:4px !important;
}
.BMap_Marker{
	bacground:red !important;
}

.navbar{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: white;*/
    box-shadow: 0 -1px 5px rgba(0,0,0,0.3);
    padding: 0 0.1rem;
    z-index: 10;
    height: 0.45rem;
   
}
.navbar a:first-child{border: 0}
.navbar a{
    width: 100%;
    float: left;
    border-left: 1px solid #ffffff;
    display: block;
    height: 0.45rem;
    font-size: 0.16rem;
    line-height: 0.45rem;
    color: #fff;
    text-align: center;
}
.navbar a img{width: 0.2rem;height: 0.2rem;vertical-align: middle;margin-bottom: 0.04rem;margin-right: 0.03rem}

/*mokuai1*/
.panel{
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 0.1rem 0.15rem;
    position: relative;
    margin-bottom: 0.1rem;
}
.ic_house{
    height: 0.22rem;
    font-size: 0.16rem;
    color: #000000;
    border-left: 4px solid #ed494a;
    line-height: 0.22rem;
    padding-left: 0.1rem;
    margin: 0.12rem 0 0.1rem 0;
    overflow: hidden;
    text-shadow: 0 0 0.2px rgba(0,0,0,0.8);
}
.panel p{
    font-size: 0.14rem;
    margin: 3px 0;
    color: #484848;
}
.panel .info_L24{
    padding-left: 0.14rem;

}
.panel .info_L24,.ic_house{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.panel .info_L24 .label-yj{
    float: right;
    font-size: 0.14rem;
    color: #d1d1d1;
    height: 0.18rem;
    line-height: 0.18rem;
    margin: 0.1rem 0 0 0;
    display: inline-block;
}

.label-adders{
    background: url("../images/laber-adders.png") no-repeat center left 0.14rem;
    text-indent: 0.18rem;!important;
}

.map-minute{
	line-height: 0.3rem;
    color: #12b77c !important;
    cursor: pointer;
    text-decoration: underline;
}


.label-price{
    font-size: 0.23rem;
    top: 0.17rem;
    position: absolute;
    right: 0.12rem;
    color: red;
}

.info-zk{
	position: absolute;
    right: 0.1rem;
    bottom: 0.1rem;
    color: #ffd785 !important;
}


.panel .label-type1{
    height: 0.25rem;
    line-height: 0.25rem;
    border-radius: 0.2rem;
    padding: 0 0.25rem;
    font-size: 0.14rem;
    margin: 0.1rem 0.08rem 0 0;
    display: inline-block;
    background-color: #ffeacc;
    color: #ff7200;
}
/*评论*/
/*
  查看全部
*/
.panel .button-orange{
    margin: 0.2rem 0 0.2rem;
    text-align: center;
}
.panel .button-orange #commentsInfo{
    display: inline-block;
    width: 1.1rem;
    font-size: 0.14rem;
    line-height: 0.28rem;
    color: #333;
    border: 1px solid #888;
    cursor: pointer;
}

.panel .appraise{width: 100%;height: auto}
.panel .appraise li{
    margin: 0.1rem 0;
    padding: 0.1rem 0rem 0.1rem 0.4rem;
    font-size: 0.12rem;
    background-color: #fff;
    border-top: 1px solid #f1eded;
    border-bottom: 1px solid #f1eded;
    display: none;
    color: #484848 !important;
}
.panel .appraise li.showtime{display: block}
.panel .appraise li .customer .user,.panel .appraise li .customer .time{
        color: #484848 !important;
    font-size: 0.14rem;
}
.customer .pic{
    width: 0.32rem;
    height: 0.32rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-left: -0.42rem;
}
.panel .appraise li .text{
    font-size: 0.14rem;
    word-break: break-all;
    line-height: 0.2rem;
    padding: 0.035rem 0;
    color: #484848 !important;
}

.panel .appraise li .huifu{
	background: #efefef;
    padding: 0.03rem 0.08rem;
    position: relative;
}
.panel .appraise li .huifu .sro{
	width: 0;
    height: 0;
    border-left: 0.07rem solid transparent;
    border-right: 0.07rem solid transparent;
    border-bottom: 0.07rem solid #efefef;
    position: absolute;
    top: -0.06rem;
}

.commentReplay{margin-top: 0.1rem}
/*管理员回复查看按钮*/
.commentReplay .folder-title{
    padding-bottom: 0.05rem;
    padding-right: 0.27rem;
    font-size: 0.12rem;
    text-align: right;
    color: #0079ff;
    background-color: #fff;
    display: none;
}
/*管理员回复内容*/
.commentReplay .folder-content{
    overflow: hidden;
    transition: all .5s;
    margin-right: -0.1rem;
    font-size: 0.12rem;
    border-top: 1px solid #cbcaca;
    display: none;
}
.commentReplay .folder-content p{
    font-size: 0.12rem;
    padding-right: 0.1rem;
}
.commentReplay .folder-content em{
    color: orangered;
}

/*---------------*/
.i_inf{width: 100%;height: auto;overflow: hidden}
.i_inf ul li{width: 50%;float: left;height: 0.3rem;line-height: 0.3rem;}
.i_inf ul li span{font-size: 0.14rem;color: #878787;line-height: 0.3rem;display: block;float: left;}
.i_inf .inf_sp{color: #484848 !important;margin-right: 0.1rem;}

/*deploy ����*/
.deploy .facility{width:100%;transition: all .3s}
.deploy .facility li{width: 100%;margin-bottom: 0.03rem;height:auto;}
.deploy .facility li .pNames{font-size:0.14rem;font-weight:400;display:block;}
.deploy .facility li .facility-list{width:100%;height:auto;margin:0 auto;}
.deploy .facility li .facility-list i{
    display: inline-block;
    width: 22.5%;
    height: 0.6rem;
    /*border: 1px solid #ccc;*/
    text-align: center;
    line-height: 0.88rem;
    margin-bottom: 0.02rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.1rem;
    margin-left: 0.02rem;
    position: relative;

}
.deploy .facility li .facility-list i em{
    width: 28px;
    height: 26px;
    display: block;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -14px;
    overflow: hidden;
}
.deploy .facility li .facility-list .icon-tv em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -50px 0px;
}
.deploy .facility li .facility-list .icon-wifi em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position:2px 0px;
}
.deploy .facility li .facility-list .icon-airconditioner em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -76px 0px;
}
.deploy .facility li .facility-list .icon-icebox em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -102px 0px;
}
.deploy .facility li .facility-list .icon-washingmachine em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -128px 0px;
}
.deploy .facility li .facility-list .icon-heating em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -155px 0px;
}
.deploy .facility li .facility-list .icon-smartlock em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1089px 0px;
}
.deploy .facility li .facility-list .icon-accesscontrol em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1168px 0px;
}
.deploy .facility li .facility-list .icon-hairandbodylotion em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -414px 0px;
}
.deploy .facility li .facility-list .icon-KTV em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -855px 0px;
}
.deploy .facility li .facility-list .icon-wbl em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -596px 0px;
}
.deploy .facility li .facility-list .icon-towel em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -206px 0px;
}
.deploy .facility li .facility-list .icon-tissues em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -336px 0px;
}
.deploy .facility li .facility-list .icon-atableware em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -648px 0px;
}
.deploy .facility li .facility-list .icon-cookingpots em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -517px 0px;
}
.deploy .facility li .facility-list .icon-hairdryer em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1142px 0px;
}
.deploy .facility li .facility-list .icon-infirmary em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -960px 0px;
}
.deploy .facility li .facility-list .icon-elevator em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1193px 0px;
}
.deploy .facility li .facility-list .icon-electriccooker em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -622px 0px;
}
.deploy .facility li .facility-list .icon-hatwort em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -180px 0px;
}
.deploy .facility li .facility-list .icon-mahjong em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -934px 0px;
}
.deploy .facility li .facility-list .icon-slipper em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -310px 0px;
}
.deploy .facility li .facility-list .icon-liquidshampoo em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -283px 0px;
}
.deploy .facility li .facility-list .icon-toiletthings em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -258px 0px;
}
.deploy .facility li .facility-list .icon-bank em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1246px 0px;
}
.deploy .facility li .facility-list .icon-metro em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1272px 0px;
}
.deploy .facility li .facility-list .icon-BUS em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1299px 0px;
}
.deploy .facility li .facility-list .icon-restaurant em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1324px 0px;
}
.deploy .facility li .facility-list .icon-metro em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1349px 0px;
}
.deploy .facility li .facility-list .icon-market em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1350px 0px;
}
.deploy .facility li .facility-list .icon-svs em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1380px 0px;
}
.deploy .facility li .facility-list .icon-drugstore em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1408px 0px;
}
.deploy .facility li .facility-list .icon-metro em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1272px 0px;
}
.deploy .facility li .facility-list .icon-cinema em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1466px 0px;
}
.deploy .facility li .facility-list .icon-recreation em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1439px 0px;
}
.deploy .facility li .facility-list .icon-sightspot em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1782px 0px;
}
.deploy .facility li .facility-list .icon-Fitness em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1498px 0px;
}
.deploy .facility li .facility-list .icon-tea em{
     background: url("../images/icons_detail_facility.png") no-repeat;
     background-size: 2494px 26px;
     background-position: -1524px 0px;
 }
.deploy .facility li .facility-list .icon-slotmachine em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1556px 0px;
}
.deploy .facility li .facility-list .icon-publicsecurity em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1586px 0px;
}
.deploy .facility li .facility-list .icon-projector em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1617px 0px;
}
.deploy .facility li .facility-list .icon-smoke em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1652px 0px;
}
.deploy .facility li .facility-list .icon-Cooking em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1683px 0px;
}
.deploy .facility li .facility-list .icon-dinetogether em{
    background: url("../images/icons_detail_facility.png") no-repeat;
    background-size: 2494px 26px;
    background-position: -1712px 0px;
}
/*户型图*/
.describe .hu_xing_tu img{width: 100%;height: 2rem;}

/*��������*/
#serviceIntro2{line-height: 0.23rem}



/*ѡ����ֹ����*/
.alert-content{
    position: fixed;
    width: 100%;
    height:3.5rem;
    background: #fff;
    z-index: 1003;
    bottom: -3.7rem;
    box-shadow: 0 0 0.2rem #333;
}
.alert-content header{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
    border-bottom: 1px solid #dddddd;
    font-size:0.16rem;
    color: #353535;
    text-align: center;
    font-weight: normal;
}
.alert-content ul{width: 100%;margin: 0 auto;}
.alert-content ul li{width: 50%;float: left;font-size: 0.2rem;line-height: 0.45rem;border-right: 1px solid #e6e6e6;border-bottom: 1px solid #dddddd }
.alert-content ul li input{width: 100%;text-align: center;color: #333;font-weight: bold;}
.alert-content .hint{clear: both;font-size: 0.16rem;line-height: 0.6rem;padding: 0 0.1rem}
.alert-content .hint i{padding-right: 0.1rem;font-weight: bold;color: red}
.alert-content .but-success{width: 66%;height: 0.4rem;color: #FFF;border-radius: 0.2rem;box-shadow: 0 0.025rem 0.1rem #5f0d0d;position: absolute;bottom: 0.2rem;background: #ea644a;left: 50%;margin-left: -33%}


.gratis{
    position: fixed;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background: #fff;
    background:none;
    border-radius: 0.1rem;
    z-index: 2000;
    left: 50%;
    margin-left: -40%;
    top: 10%;
	transition:0.2s;
	transform: scale(0);

}
.gratis.scale{
	transform: scale(1);  
}
.gratis .czs-close-l{
	position: absolute;
    top:0.13rem;
    right: -0.2rem;
    font-size: 0.15rem;
    color:#fff;
}
.gratis .swiper-container{
	width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    top:10%;
    vertical-align: middle !important;
}
.gratis .swiper-container .swiper-slide{
	height:100%;
	position: relative;
	
}
.gratis .swiper-container .swiper-slide img{
	width:100%;
	height:auto !important;
	position: absolute;
    vertical-align:middle
}
