.header{
    width: 100%;
    height: 1.8rem;
    background: #fff;
    padding: 0.25rem;
    font-size: 0.16rem;
    color: #1d1d1d;
    border-bottom:1px solid #dcd8d8;
}
.header h1{font-size: 0.25rem;margin-top: 0.1rem;}
.header p{line-height: 0.35rem;padding-bottom: 0.25rem;}
.header p i{padding-left: 0.1rem;font-size: 0.14rem;color: #d0d2d1;cursor: pointer}
.header p i.success{color: #2dec7b}
.trust{
    display: inline-block;
    font-size: 0.14rem;
    padding: 0.06rem;
    border: 1px solid #2c2c2c;
    color: #2c2c2c;
}
#Myscroll-body{top: 1.8rem;bottom: 0rem;background: #fff;overflow-y: scroll;padding: 0.25rem;font-size: 0.14rem;line-height: 0.35rem}
.footer{
	position: absolute;
    bottom: 0.2rem;
    font-size: 0.16rem;
    color: black;
}
#Myscroll-body ul li{font-size: 0.2rem;line-height: 0.55rem}
#Myscroll-body .init{
    display:inline-block;
    margin-bottom: 0.1rem;
    color: #1d1d1d;
}
#Myscroll-body ul li span{
    padding-right:0.1rem;
    color: #333;
}