html,body{background: #f4f4f4;}
#Myscroll-body{top:0;padding-bottom:0.6rem;}
.vip_info{overflow: hidden;padding: 0.5rem 0 0.15rem 0;
    background-size: 100% 100%;
    text-align: center;
    height: 2.2rem;
    position: relative;
}
#vip_icon_name{
	width:0.85rem;height:0.85rem;border-radius:50%;overflow: hidden;margin:0 auto;
	background: rgba(0,0,0,.5);line-height:0.85rem;text-align:center;
}
#vip_icon_name i{font-size:0.3rem;}
.vip_info_list:last-child{margin-bottom:0.52rem}


.vip_info{;background-color:#ED5564;;background:url(../images/member_top_bg.png) center center;background-size:100%;-webkit-animation:changeBg 20s infinite; -moz-animation:changeBg 20s infinite; animation:changeBg 20s infinite;}
@-webkit-keyframes changeBg{
0%{background-color:#ED5564;}
10%{background-color:#FB6E52;}
20%{background-color:#FFCE55;}
30%{background-color:#A0D468;}
40%{background-color:#48CFAE;}
50%{background-color:#4FC0E8;}
60%{background-color:#5D9CEC;}
70%{background-color:#AC92ED;}
80%{background-color:#EC87BF;}
90%{background-color:#ED5564;}
}
@-moz-keyframes changeBg{
0%{background-color:#ED5564;}
10%{background-color:#FB6E52;}
20%{background-color:#FFCE55;}
30%{background-color:#A0D468;}
40%{background-color:#48CFAE;}
50%{background-color:#4FC0E8;}
60%{background-color:#5D9CEC;}
70%{background-color:#AC92ED;}
80%{background-color:#EC87BF;}
90%{background-color:#ED5564;}
}
@keyframes changeBg{
0%{background-color:#ED5564;}
10%{background-color:#FB6E52;}
20%{background-color:#FFCE55;}
30%{background-color:#A0D468;}
40%{background-color:#48CFAE;}
50%{background-color:#4FC0E8;}
60%{background-color:#5D9CEC;}
70%{background-color:#AC92ED;}
80%{background-color:#EC87BF;}
90%{background-color:#ED5564;}
}









.header-mobile .img-home{width: 0.22rem;margin: 3px 0.14rem}
.header-mobile.scro{background: black;position: fixed;top: 0;opacity: 0.8}

#personMan{
	width: 100%;
    margin: 0 auto;
    position: absolute;
    animation: memberInfoDown 800ms  ease-in; -webkit-animation: memberInfoDown 800ms ease-in;
}
@keyframes  memberInfoDown
{
0% { top: -1.25rem;}
30% { top: -0.65rem;}
75% { top: 0.58rem;}
85% { top: 0.45rem;}
95% { top: 0.52rem;}
100% { top: 0.5rem;}
}
@-webkit-keyframes  memberInfoDown
{
0% { top: -1.25rem;}
30% { top: -0.65rem;}
75% { top: 0.58rem;}
85% { top: 0.45rem;}
95% { top: 0.52rem;}
100% { top: 0.5rem;}
}




#personMan .ctxt{
	width: 2rem;
    font-size:0.14rem;
    color:#fff;
    padding-top: 0.05rem;
    margin: 0 auto;
    line-height: 0.23rem;
}
#personMan .ctxt a{color:#FFF;font-size:0.16rem;}
#personMan .ctxt p{
   overflow: hidden; 
   text-overflow: ellipsis;
   white-space: nowrap;
	
}
.vip_info .tit{
	position: absolute;
	top:0;
	width:100%;
	line-height:0.44rem;
}
.vip_info .tit a{
	font-size: 0.12rem;
    color: #fff;
    padding:0 0.1rem;
	position:relative;
}
 .vip_info .tit a i{
  	font-size: 0.2rem;
    position: relative;
    top: 0.04rem;
  }
   
.vip_info img{float:left;width: 100%;height: 100%;border-radius: 50%;border:2px solid rgba(70, 63, 63, 0.07);}
.vip_info span{
	display: block;
    width: 1.25rem;
    text-align: left;
    font-size: 0.14rem;
    height: 0.2rem;
    margin-top: 0.5rem;
    color: #fff;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vip_info_list{margin-bottom: 0.1rem;width: 100%;overflow: hidden;background: #fff;padding: 0 0.1rem 0.15rem 0.1rem;}
.vip_info_list li{line-height: 0.45rem;font-size: 0.14rem;}
.vip_info_list li:last-child{border: 0}
.vip_info_list li a{display: block;color: #777;}

.vip_info_list li .per-order-status{width: 100%}
.vip_info_list li .per-order-status a{float: left;display:block;
	width:0.8875rem;
	position: relative;
    height: 0.8rem;
    line-height: 0.35rem;
    text-align: center;
    font-size: 0.12rem;
    margin: 0px ;
    color: #777;
}
.vip_info_list li .per-order-status a:first-child{border: 0}
.vip_info_list li .per-order-status .tip-size{
    position: absolute;
    width: 0.18rem;
    height: 0.18rem;
    line-height: 0.14rem;
    border: 2px solid #dd3d95;
    color: #dd3d95;
    top: 0.08rem;
    right: 0.65rem;
    font-size: 0.10rem;
    border-radius: 50%;
    background-color: #FFF;
    overflow: hidden;
    display: none;!important;
}
.per-order-status ol dd._active{
	background: #343a39;
    border-radius: 0.25rem 0 0.25rem 0;
    color: #eeeae7;
}
.logout{
    display: block;
    width: 80%;
    heigth: 0.4rem;
    background: #50ccc9;
    border-radius: 0.05rem;
    text-align: center;
    font-size: 0.16rem;
    line-height: 0.4rem;
    margin: 8% auto 0;
    color: #fff;
    box-shadow: 0 0.01rem 0.01rem #ccbcd3;
}
.per-order-status .icon{
    width: 0.3rem;
    height: 0.3rem;
    float: none;
    display: block;
    margin: 0.15rem auto 0.05rem auto;
    font-size: 0.3rem;
}
.farstnav .icon{
	width: 0.45rem;
    height: 0.45rem;
    display: block;
    margin: 0rem auto 0.05rem auto;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0.45rem;
  	color:#fff;
  	font-size:0.25rem;
}
.vip_info_list li  .farstnav a:first-child .icon{
	background:#fc9744;
}
.vip_info_list li  .farstnav a:first-child+a .icon{
	background:#fe5049;
}
.vip_info_list li  .farstnav a:first-child+a+a .icon{
	background:#ff6c88;
}
.vip_info_list li  .farstnav a:first-child+a+a+a .icon{
	background:#4bdcfb;
}
.per-order-status .payment_icon{background: url("../images/nomor.png") no-repeat center bottom;background-size: 100% }
.per-order-status .delivery_icon{background: url("../images/yesmor.png") no-repeat center bottom;background-size: 100% }
.per-order-status .set_icon {
    background: url(../images/c_sz.png) no-repeat center bottom;
    background-size: 100%;
}
.per-order-status .gj_icon {
    background: url(../images/aunt.png) no-repeat center bottom;
    background-size: 100%;
}
.per-order-status .baojie_icon {
    background: url(../images/baojie.png) no-repeat center bottom;
    background-size: 100%;
}
.per-order-status .tesc_icon {
    background: url(../images/qiche.png) no-repeat center bottom;
    background-size: 100%;
}
.per-order-status .add_icon {
    background: url(../images/add_ss.png) no-repeat center bottom;
    background-size: 100%;
}
.per-order-status .wx_icon {
    background: url(../images/invite.png) no-repeat center bottom;
    background-size: 100%;
}
.per-order-status .fl_icon {
    background: url(../images/jf.png) no-repeat center bottom;
    background-size: 100%;
}
.per-order-status .cy_icon {
    background: url(../images/txyzm.png) no-repeat center bottom;
    background-size: 100%;
}
.per-order-status .ings_icon {
    background: url(../images/terminal.png) no-repeat center bottom;
    background-size: 100%;
}
/*&&&&&&&&&&&&&&&&&&&&&&& ������� &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

#comment{
    width: 100%;
    min-height: 2.6rem;
    border-bottom: 1px solid #999;
    font-size: 0.16rem;
    padding: 0.1rem;
    color: #666666;
    line-height: 0.22rem;
}
._p{
    line-height: 0.2rem;font-size: 0.16rem;
    position: relative;
    top:-0.3rem;
    text-align: right;
    padding-right: 0.1rem;
    color: #666666}
    
    
/*信用积分*/
#Credit{
	cursor: pointer;    
}        
#Credit i{font-size:0.14rem;}  