/target/
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.resources.prefs
src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml
*.prefs
.settings/org.eclipse.jdt.core.prefs
