#app_login{
    background-image: url(../images/bg1921.jpg);
    background-size: 100% 100%;
   	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }

#app_login .login_form{
    width: 2.8rem;
    text-align: center;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -1.4rem;
    font-size: 0.14rem;
    color: #fff;
}
#app_login .login_form h1{font-weight: 400;margin-bottom: 0.3rem;}
.input-group {
    border-radius: 2px;
    margin-bottom: 15px;
    width: 100%;
}
input.form-control{
    border-radius: 2px;
    padding: 0.1rem 0.15rem;
    height: 0.37rem;
    line-height: 0.37rem;
    line-height: 1.42857143 !important;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    width: 100%;
    font-size: 0.12rem;
    color: #999;
    border-radius: 5px;
}
#password{
	width: calc(100% - 0.6rem);
    border-radius: 5px 0 0 5px;
    margin: 0px;
    float: left;
}
#beginlogin {
    margin: 0px;
    float: left;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    background-color: #009688;
    width: 0.6rem;
    display: inline-block;
    height: 0.37rem;
    line-height: 0.37rem;
    padding: 0 auto;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 0.14rem;
    border: none;
    cursor: pointer;
    opacity: .9;
    padding: 0;
}