.content{left: 0;width: 100%;bottom: 0;position: absolute;top: 0.42rem;overflow: hidden;overflow-y: auto;}
.layer-select{width: 100%;height: 0.4rem;background: #FAFAFA;position: relative;border-bottom: 1px solid #eee;}
.layer-select .layer-nav{cursor: pointer;color: #333;background: none !important;height: 0.4rem;display: block;float: left;font-size: 0.13rem;width: 50%;border-right: 1px solid #eee;text-align: center;line-height: 0.4rem;}
.layer-select .layer-nav.show{border-bottom: #4587f5 2px solid;color: #4587f5;    font-weight: bold;}
.houseList{position: relative;width: 100%;}
.houseList ul{padding: 0.1rem;}
.houseList ul li{
	width: 100%;padding: 0.1rem;border: 1px solid #ddd;margin-bottom: 0.12rem;border-radius: 0.06rem;overflow: hidden;
	font-size: 0.14rem;background: #fafafa;line-height: 0.26rem;cursor: pointer;
}
.houseList ul li .row{clear: both;}
.houseList ul li .fl{float: left;width: 50%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.houseList ul li .cz-btn span{font-size: 0.12rem;padding: 0.05rem;background: orange;margin-right: 0.04rem;color: #fafafa;border-radius: 0.04rem;cursor: pointer;}
.page{
	clear: both;padding: 0.1rem;font-size: 0.12rem;overflow: hidden;display:none;
}
.page a{display:block;padding: 0.05rem; border: 1px solid #eee;float: left;margin-right: 0.05rem;cursor:pointer;}


/* 订单详情 */
#module-box{
	width:100%;
	top:0;
	left:0;
	bottom:0;
	right:0;
	position:fixed;
	background:#fff;
	z-index: 10001;
    overflow: hidden;
    transition: all .2s;
    transform:scale(0);
}
#module-box.hover{
	transform:scale(1);
}
.module-state{
	position:relative;
	box-sizing: border-box;
    background-color: #F6F6F6;
    color: #333 !important;
    line-height: 0.42rem;
    height: 0.42rem;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid #eee;
    display:block;
}

.module-con{
	width:100%;
	position:absolute;
	top:0.42rem;
	bottom:0;
	left:0;
	right:0;
	overflow:auto;
	padding:0.12rem;
}
.module-con .fn{width:100%;font-size:0.14rem;margin-bottom:0.2rem}
.module-con .fn .title{line-height:0.3rem;font-size:0.14rem;color:#333;border-left:2px solid red;padding-left:0.1rem}
.module-con table td{line-height:0.3rem;}



/*修改订单价格*/
#module-box2{display: none;width: 3.5rem;background: #fff;border-radius: 0.1rem;position: fixed;left: 50%;margin-left: -1.75rem;top: 50%;margin-top: -1.4rem;z-index: 101;}
#module-box2 .module-state{text-align: center;font-size: 0.16rem;font-weight: bold;display: block;line-height: 0.45rem;color: #333;    color: #333;
    background: #fafafa;border-top-left-radius: 0.1rem;border-top-right-radius: 0.1rem;}

#module-box2 .module-con{position:relative;top:0;font-size:0.14rem;border-top: 1px solid #eee;border-bottom: 1px solid #EEEEEE;padding: 0.3rem 0.15rem;}
#module-box2 .module-con a{cursor: pointer;display: block;width: 50%;text-align: center;float: left;font-size: 0.16rem;border: 1px solid #EEEEEE;border-radius: 0.2rem;padding: 0.08rem;}
#module-box2 .module-footer{background: #FAFAFA;height: 0.45rem;border-bottom-left-radius:0.1rem;border-bottom-right-radius:0.1rem;line-height: 0.45rem;font-size: 0.14rem;}
#module-box2 .module-footer a{display: block;float: left;width: 50%;text-align: center;cursor: pointer;}
#module-box2 .module-footer a:nth-child(1){color: #28CA40;}
#module-box2 .module-footer a:nth-child(2){color: #FF6057;}
