
.content{left: 0;width: 100%;bottom: 0;position: absolute;top: 0.42rem;overflow: hidden;overflow-y: auto;}
.layer-select{width: 100%;height: 0.4rem;background: #FAFAFA;position: relative;border-bottom: 1px solid #eee;}
.layer-select .layer-nav{cursor: pointer;color: #333;background: none !important;height: 0.4rem;display: block;float: left;font-size: 0.13rem;width: 25%;border-right: 1px solid #eee;text-align: center;line-height: 0.4rem;}
.layer-select select{border: none;height: 0.39rem !important;}

.houseList ul{padding: 0.1rem;}
.houseList ul li{
	width: 100%;padding: 0.1rem;border: 1px solid #ddd;margin-bottom: 0.12rem;border-radius: 0.06rem;overflow: hidden;
}

.houseList ul li .hinfo{width: 100%;overflow: hidden;}
.houseList ul li .hinfo .infoimg{width: 45%;height: 1.1rem;float: left;overflow: hidden;padding:0.01rem;}
.houseList ul li .hinfo .infoimg img{width: 100%;height: 100%;}
.houseList ul li .hinfo .infocon{width: 55%;float: left;height: 1.1rem;font-size: 0.14rem;padding:0.02rem 0.1rem; line-height: 0.26rem;}
.houseList ul li .hinfo .infocon p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.houseList ul li .hbtn{overflow: hidden;margin-top: 0.1rem;}
.houseList ul li .hbtn a{position: relative;cursor: pointer;display: block;float: left;font-size: 0.12rem;padding: 0.05rem 0.08rem;background: #eee;margin: 0.05rem 0.09rem;border-radius: 0.13rem;color: #333;box-shadow: 1px 3px 3px #999;color: #fff;}
.houseList ul li .hbtn a:first-child{
	background: #ed2c2c;
}
.houseList ul li .hbtn a:nth-child(2){
	background: #efe566;
}
.houseList ul li .hbtn a:nth-child(3){
	background: #6565f6;
}
.houseList ul li .hbtn a:nth-child(4){
	background: #2ceded;
}
.houseList ul li .hbtn a:nth-child(5){
	background: #33ccff;
}
.houseList ul li .hbtn a:nth-child(6){
	padding: 0;
	width: 0.64rem;
	height: 0.26rem;
	line-height: 0.26rem;
	position: relative;
}
.houseList ul li .hbtn a:nth-child(7){
	background: #a9b3bd;
	padding: 0;
	width: 0.64rem;
	height: 0.26rem;
	line-height: 0.26rem;
	position: relative;
	text-indent: 0.1rem;
}
.houseList ul li .hbtn a .paixu{
	width: 0.3rem;text-align: center;height:0.26rem
}
.houseList ul li .hbtn a .btn-px{
	width: 0.3rem;cursor: pointer;	position: absolute;height: 0.26rem;border-top-right-radius: 0.13rem;background: #75b936;border-bottom-right-radius: 0.13rem;right: 0;color: #fff;
}

.houseList ul li .hbtn .selected i{
	width: 0.26rem;
	height: 0.15rem;
	border-bottom: 3px solid red;
	border-left: 3px solid red;
	display: none;
	position: absolute;
	right: -0.06rem;
	top:-0.04rem;
	transform:rotate(-50deg);
	-ms-transform:rotate(-50deg); /* Internet Explorer */
	-webkit-transform:rotate(-50deg); /* Safari 和 Chrome */
	-o-transform:rotate(-50deg); /* Opera */
}
.houseList ul li .hbtn .selected.show i{display: block;}


#module-box{display: none;width: 3.5rem;background: #fff;border-radius: 0.1rem;position: fixed;left: 50%;margin-left: -1.75rem;top: 12%;z-index: 101;}
.module-state{text-align: center;font-size: 0.16rem;font-weight: bold;display: block;line-height: 0.45rem;color: #333;    color: #333;
    background: #fafafa;border-top-left-radius: 0.1rem;border-top-right-radius: 0.1rem;}

.module-con{border-top: 1px solid #eee;border-bottom: 1px solid #EEEEEE;padding:0.15rem;overflow:hidden}
.module-con a{
	    cursor: pointer;
    width: 1rem;
    text-align: center;
    float: left;
    font-size: 0.14rem;
    border: 1px solid #EEEEEE;
    border-radius: 0.06rem;
    padding: 0.08rem 0;
    margin-bottom: 0.06rem;
    margin: 0.03rem;
    position:relative;
}
.module-con a span{
	width: 0.2rem;
    height: 0.12rem;
    border-bottom: 1px solid #28CA40;
    border-left: 1px solid #28CA40;
    display: none;
    position: absolute;
    right: -0.06rem;
    top: -0.06rem;
    transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
}
.module-con a.active{color:#28CA40;border-color:#28CA40;}
.module-con a.active span{display:block}
.module-footer{background: #FAFAFA;height: 0.45rem;border-bottom-left-radius:0.1rem;border-bottom-right-radius:0.1rem;line-height: 0.45rem;font-size: 0.14rem;}
.module-footer a{display: block;float: left;width: 50%;text-align: center;cursor: pointer;}
.module-footer a:nth-child(1){color: #28CA40;}
.module-footer a:nth-child(2){color: #FF6057;}


/* sendlist */
.statistics{color:#333;font-size:0.14rem;overflow:hidden;line-height:0.28rem;padding:0.1rem;    background: #e1e1e1;}
.statistics h1{font-size:0.14rem;}
.statistics span{color:orangered;font-size:0.18rem}
.statistics .fl{
	width:50%;
	float:left;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.houseList,.houseList table{width: 100%;}
.houseList table th,.houseList table td{line-height: 0.3rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 0.1rem;border-right:1px solid #eee;text-align: center;color: #666;border-bottom: 1px solid #eee;font-size: 0.14rem;line-height: 0.3rem;}
.houseList table th:first-child,.houseList table td:first-child{width: 8%;}
.houseList table th:last-child,.houseList table td:last-child{border-right: none;}
.houseList table tr .look{cursor: pointer !important;color:#0044cc}
.houseList table tr .look i{
	display:block;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    border: 1px solid rebeccapurple;	
    margin: 0 auto;
}
.houseList table tr._active td i{background:red;border-color:red;}

.page{
	clear: both;padding: 0.1rem;font-size: 0.12rem;overflow: hidden;
}
.page a{display:block;padding: 0.05rem; border: 1px solid #eee;float: left;margin-right: 0.05rem;}
.page a:last-child{border:none !important;}
.houseList .new{padding:0 0.12rem;font-size:0.14rem}
.houseList .new laber{font-weight:bold;color:#333;line-height:0.35rem}
#map{width:100%;height:3rem;border:1px solid #ddd}
.module-con .new{
	padding: 0 0.12rem;
    font-size: 0.14rem;
}
.module-con .new .form-control{
	width:100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        transition: all .3s;
    border-radius: 0.1rem;
    border: 1px solid #cfcfcf;
    width: 100%;
    font-size: 0.14rem;
    line-height: 0.35rem;
    padding: 0 0.12rem;
    height:0.35rem;
}
.module-con .new .form-control-50{
	width:48%;
	float:left;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .3s;
    border-radius: 0.1rem;
    border: 1px solid #cfcfcf;
    font-size: 0.14rem;
    line-height: 0.35rem;
    padding: 0 0.12rem;
    height: 0.35rem;
}
.module-con .new span{float:left;line-height:0.35rem;width:4%;text-align:center}

.module-con .new .form-control:focus{border-color:#3f51b5}

.module-con .new laber{font-weight:bold;color:#333;line-height:0.35rem}