<c:if test="${type1!=0 && (type2==1||type2==3)}">
	<table>
		<tr>
			<td>选择</td>
			<td>出租类型</td>
			<td>出租价格</td>
		</tr>
		<tr>
			<td><input type="checkbox" name="daytype"></td>
			<td>天</td>
			<td><input type="text" name="dayprice"></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="weektype"></td>
			<td>周</td>
			<td><input type="text" name="weekprice"></td>
		</tr>
		<c:if test="${type1==1}">
			<tr>
				<td><input type="checkbox" name="monthtype"></td>
				<td>月</td>
				<td><input type="text" name="monthprice"></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="yeartype"></td>
				<td>年</td>
				<td><input type="text" name="yearprice"></td>
			</tr>
		</c:if>
	</table>
</c:if>